<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Papus's Practice</title>
    </head>
    <body>
        <%- include ('header') %>
        <form method="post" action='/postparctice'>
            <input type="text" name="name">
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>