<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Papus's Practice</title>
    </head>
    <body>
        <%- include ('header') %>
        <% if (name) { %>
            <p><%= name %>'s Practice</p>
        <% } %>
        <p><%= name %>'s Practice</p>
    </body>
</html>