extends ../layout

block content 
    article
        ul 
            each league in leagues
                if league.league !== "Others"
                    li 
                        a(href=`/table/${league.league.replace(/ /g, '_')}`)=league.league