extends ../layout

block content 
    div 
        h1 Table
    div(class="league-list")
        ul 
            each league in leagues
                li 
                    a(href=`/table/${league.league.replace(/ /g, '_')}`)
                        img(src=`/table/${league.league.replace(/ /g, '_')}.jpg`)
                        p=league.league