html
    head
        link(rel="shortcut icon", href="/favicon.ico")
        meta(charset='utf-8')
    body 
        h1 Image
        
        div 
            a(href="/list") Back
            img(src=`/${image.image_url}`, alt="image")