html
    head
        meta(charset='utf-8')
    body 
        h1=type 

        form(method='post' action='/image' enctype='multipart/form-data')
            label Upload
                input(type='file' accept='image/*' name='image' multiple='multiple')
            label Submit 
                input(type='submit' value='SubmitBtn')