html
    head
        link(rel="shortcut icon", href="/favicon.ico")
        meta(charset='utf-8')
    body 
        h1 Image

        form(method='post' action='/post' enctype='multipart/form-data')
            div
                label Upload
                    input(type='file' accept='image/*' name='image' multiple='multiple')
            div 
                label Submit 
                    input(type='submit' value='SubmitBtn')