article {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-width: 1100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

td {
    padding: 5px 1px 5px 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.head {
    margin-top: 64px;
    margin-bottom: 32px;
    font-weight: 700;
    height: 150px;
}

.header-btn {
    padding: 1px;
}
    article.head > div.header-btn > h1 > a {
        color: #f00000;
        font-size: 2.5em;
    }

.navbar {
    border-top: 2px solid #f00000;
    border-bottom: 2px solid #f00000;
    padding: 3px 0px 3px 0px;
    float: left;
    width: 100%;
}

    article.head > div.navbar > ul {
        width: 100%;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    article.head > div.navbar > ul > li {
        text-align: center;
        float: left;
        font-size: 20px;
        padding: 2px 0px 2px 0px;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    article.head > div.navbar > ul > li > a {
        color: black;
        font-size: 20px;
    }

.body {
    margin-top: 64px;
    margin-bottom: 256px;
}

    article.body > img {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        object-fit: cover;
    }

    article.body > div > h1 {
        font-size: 2em;
        border-bottom: 1px solid rgb(180, 180, 180);
        padding-left: 32px;
    }

    article.body > div > ul {
        width: 100%;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    article.body > div > ul > li {
        float: left;
        padding: 2px 0px 2px 0px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(180, 180, 180);
    }

    article.body > div > ul > li > a > img {
        width: 100%;
        object-fit: cover;
    }

    article.body > div > ul > li > a > p {
        text-align: center;
        font-weight: 600;
        color: black;
    }

    article.body > div.league-table-body > table {
        text-align: center;
    }

    article.body > div.league-table-body > table > thead {
        background-color: rgb(214, 214, 214);
        font-size: 24px;
        font-weight: 600;
    }

    article.body > div.league-table-body > table > tbody > tr {
        border-bottom: 1px solid rgb(180, 180, 180);
        font-size: 20px;
        font-weight: 500;
    }

    article.body > div.league-table-body > table > tbody > tr > td > a {
        color: black;
    }

    article.body > div.form-body > div > form > div > p {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        
    }

    article.body > div.form-body > div > form > div > p > input {
        width: 100%;
        height: 30px;
        font-size: 20px;
        border: 0px;
        background-color: rgb(240, 240, 240);
        text-align: center;
    }

    article.body > div.category > div > a {
        color: white;
        background-color: #f00000;
        padding: 5px 10px 5px 10px;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 12px;
    }

    article.body > div.board-body > table > thead {
        background-color: #f00000;
        color: white;
    }

    article.body > div.board-body > table > tbody > tr > td > a {
        color: black;
    }

    article.body > div.post-body > div.post-title > p {
        padding: 5px 10px 5px 10px;
        margin-bottom: 0;
    }

    article.body > div.authbox > div > p > a {
        color: black;
        text-decoration: underline;
    }

    article.body > div.authbox > div > form > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    article.body > div.authbox > div > form > div > input {
        padding: 5px 10px 5px 10px;
        font-size: 20px;
        border: 0px;
    }

    article.body > div.authbox > div > form > div > h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    article.body > div.authbox > div > form > div > p {
        margin-top: 5px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }

.league-table-head {
    padding: 0px 5px 0px 5px;
}

.league-table-body {
    padding: 0px 5px 0px 5px;
}

.league-table-tail {
    padding: 0px 5px 0px 5px;
    float: right;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.team-name {
    width: 56%;
}

.form-body {
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 60%;
}

.form-tail {
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    width: 40%;
}

.form-attribute {
    border-top: 2px solid #f00000;
    border-bottom: 2px solid #f00000;
}

.form-submit {
    border: 2px #f00000;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #f00000;
    color: white;
    font-size: 16px;
}

.category {
    margin-bottom: 32px;
}

.board-category {
    width: 20%;
}

.board-title {
    width: 45%;
}

.board-date {
    width: 10%;
}

.board-writer {
    width: 15%;
}

.board-No {
    width: 5%;
    padding-left: 5px;
}

.board-body {
    width: 100%;
}

.text-overflow {
    text-overflow: ellipsis;
}

.post-body {
    border-top: 2px solid rgb(180, 180, 180);
    border-bottom: 2px solid rgb(180, 180, 180);
    padding-bottom: 32px;
}

.post-tail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 5px 10px 5px 10px;
    text-align: right;
}

.post-title {
    background-color: #f00000;
    font-size: 24px;
    color: white;
}

.post-auth-date {
    margin-top: 0px;
    background-color: white;
    color: black;
    font-size: 16px;
}

.post-content {
    padding: 5px 10px 5px 10px;
}

.a-btn {
    border: 2px #f00000;
    padding: 5px 10px 5px 10px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #f00000;
    color: white;
}

.authbox {
    text-align: center;
    width: 50%;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 25px;
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.rgb-180-180-180 {
    background-color: rgb(240, 240, 240);
}

.auth-signup-phone {
    width: 25%;
}

.auth-signup-password {
    width: 35%;
}

.auth-signup-explanation {
    width: 70%;
}