extend layout 

block content 
    div(class='form-header') 
        h2 Add Team
    div(class='form-body')
        form(action=`/${league}/add` method='post')
            div Ranking
                input(type="text" name='ranking' placeholder='Ranking') 
            div Team
                input(type="text" name='team' placeholder='Team') 
            div Pl
                input(type="text" name='pl' placeholder='Pl') 
            div Win
                input(type="text" name='win' placeholder='Win') 
            div Draw
                input(type="text" name='draw' placeholder='Draw') 
            div Lose
                input(type="text" name='lose' placeholder='Lose') 
            div F
                input(type="text" name='f' placeholder='F') 
            div A
                input(type="text" name='a' placeholder='A') 
            div GD
                input(type="text" name='gd' placeholder='GD') 
            div Pts
                input(type="text" name='pts' placeholder='Pts') 
            div 
                input(type="submit" value='Add')
    div(class='form-tail') 
        a(href=`/${league}`) Back League