doctype html 
html 
    head
        link(rel="shortcut icon", href="/favicon/favicon.ico")
        meta(charset='utf-8')
        title Football League Tables
        link(rel="stylesheet", href="/style.css")
    body 
        article(class='header')
            div 
                h1 
                    a(href='/') Football League Tables
            div 
                ul 
                    each league in leagues 
                        li 
                            a(href='/'+league.league.replace(/ /g, '_'))=league.league 
        article(class='body')
            block content