<%- include('../header') %>
    <div class="authbox">
        <div>
            <h2>Really?</h2>
        </div>
        <div class="auth-leave-yes-or-no">
            <a href="/auth/yes" class="a-btn">YES</a>
            <a href="/auth/mypage" class="a-btn">No</a>
        </div>
    </div>
<%- include('../footer') %>3rdproject/views_ejs/auth/change.pug