extends ../layout

block content 
    table 
        tbody 
            tr 
                td ID 
                td=id
            tr 
                td Nickname 
                td=nickname
            tr 
                td Phone 
                td=phone
            tr 
                td Email
                td=email 
    p If you want to change Password?
        a(href="/auth/change") Change Password
    p If you want to leave this site...?
        a(href="/auth/leave") Leave