extends ../layout

block content 
    div(class='category')
        div
            h2 Category
        div 
            each league in leagues
                a(href=`/board/${league.category.replace(/ /g, '_')}`)=league.category

    div 
        h1 Post
    div(class='post-body')
        div
            include ../error

            form(method='post' action='/board/post')
                div
                    p Title
                        input(type='text' name='title' value=form?form["title"]:"")
                
                div
                    p Category
                        select(name="category")
                            each league of leagues
                                option(value=`${league.category}`)=league.category
                //- div
                //-     p Image Upload
                //-         input(type='file' accept='image/*' multiple='multiple' name="image")
                //- div
                //-     p Video Upload
                //-         input(type='file' accept='video/*' multiple='multiple' name="video")
                div
                    p Content
                    p
                        textarea(name='content')=form?form["content"]:""
                div
                    input(type='submit' class='form-submit' value='post')