<%- include('header') %>\
    <section class="p-3 d-flex justify-content-center">
        <div class="p-3 w-50">
            <form method="post" action="/admin/login" class="p-3 form-control form-control-lg border border-5 border-primary-subtle shadow">
                <div class="p-3 d-flex justify-content-center">
                    <h1>관리자 페이지</h1>
                </div>
                <%- include('error') %>
                <div class="p-3 d-flex justify-content-center">
                    <label for="adminID"></label>
                    <input type="text" id="adminID" name="adminID" placeholder="ID" class="p-2 rounded border border-2">
                </div>
                <div class="p-3 d-flex justify-content-center">
                    <label for="adminPassword"></label>
                    <input type="password" id="adminPassword" name="adminPassword" placeholder="Password" class="p-2 rounded border border-2"> 
                </div>
                <div class="p-3 d-flex justify-content-center">
                    <input type="submit" value="로그인" class="p-1 btn btn-primary rounded">
                </div>
            </form>
        </div>
    </section>
<%- include('footer') %>