<section>
    <div>
        <form method="post" action="/admin/search">
            <input type="hidden" id="table" value="<%= table %>">
            <input type="text" id="adminSearch" name="adminSearch">
            <input type="submit" id="admin" value="Search">
        </form>
    </div>
</section>