doctype html 
html 
    head 
        link(rel="shortcut icon", href="favicon.ico")
        meta(charset='utf-8')
        title Ranking
    body 
        h1 
            a(href="/") Football League Table 
        ul 
            each league in leagues
                li 
                    a(href="/"+league)=league.replace('_', ' ') 
        form(action='/', method='post') 
            p League: 
                input(type='text', id='league', name='league')
            - for (let i=1; i<=20; i++)
                case i 
                    when 1
                        p 1st place: 
                            input(type='text', id='place1', name='place1')
                        - break 
                    when 2
                        p 2nd place: 
                            input(type='text', id='place2', name='place2')
                        - break 
                    when 1
                        p 3rd place: 
                            input(type='text', id='place3', name='place3')
                        - break 
                    default
                        p #{i}th place: 
                            input(type='text', id='place'+i, name='place'+i)
                        - break 
            p 
                input(type='submit', id='subBtn', name='subBtn', value='Submit')