doctype html 
html 
    head 
        meta(charset='utf-8')
        title Ranking
    body 
        h1 
            a(href='/') Football League Table
        ul 
            each league in leagues
                li 
                    a(href="/"+league)=league.replace('_', ' ')
        article
            if teams 
                p=league_name
                table 
                    thead 
                        tr 
                            td #
                            td Teams 
                    tbody 
                        each team, i in teams
                            tr 
                                td=(i+1) 
                                td=team
            else 
                h2 WELCOME!
                p This site is related to ranking of football team
            a(href="/add") Add League 