<%- include('header') %>
    <% if (error === 500) { %>
            <p>Internal Server Error</p>
            <p><a href='<%= url %>'>Back</a></p>
    <% } %>
    <% if (error === 400) { %>
        <p>Bad Request</p>
        <p><a href='<%= url %>'>Back</a></p>
<% } %>
<%- include('footer') %>